{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Capitan America</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minima aperiam ipsum quis debitis, doloremque
            magnam aliquid necessitatibus repellat magni aut at sint consequuntur sit possimus aliquam eligendi autem
            quia.

        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/cap-america.png" class="img-thumbnail">

    </div>
</div>


{{> footer}}